<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- AWS Cognito Identity Settings -->
    <add key="AWSRegion" value="us-west-2" />
    <add key="CLIENT_ID" value="XXXXXXXXXXXXXXXXXXX" />
    <add key="USERPOOL_ID" value="us-west-2_XXXXXXXXXX" />
  </appSettings>
  
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
